*{
    margin:0;
    padding:0;
}
body{
    background:#fcf7f7;
    min-width:1200px;
}
.top_content{
    width:100%;
    height:220px;
    background:#2c2e30;
    position:relative;
}
.content{
    width:1160px;
    height:150px;
    position:absolute;
    left:0px;
    right:0px;
    margin:auto;
    margin-top:45px;
    color:#fff;
}
.span_left{
    float:left;
}
.span_left span:nth-child(1){
    display:block;
    line-height:30px;
}
.logo{
    width:80px;
    height:54px;
    background:url(../images/index/logo.png) no-repeat;
    display:inline-block;
}
.team{
    margin-left:10px;
}
.top_list{
    width:590px;
    height:54px;
    line-height:54px;
    position: absolute;
    top: 110px;
    left: -11px;
}
.top_list span:nth-child(1){
    width:65px;
}
.top_list span{
    width:110px;
    height:54px;
    font-size:22px;
    color:#fff;
    float:left;
    list-style:none;
    text-align:center;
    cursor:pointer;
}
.active{
    color:#ff9000;
}
.top_right{
    width:120px;
    height:54px;
    line-height:54px;
    position: absolute;
    top: 110px;
    right:0px;
}
.top_right span:nth-child(1){
    width:20px;
    height:27px;
    display:inline-block;
    background:url(../images/WTP/me.png) no-repeat;
    cursor:pointer;
}
.top_right span:nth-child(2){
    width:26px;
    height:27px;
    display:inline-block;
    background:url(../images/WTP/erweima.png) no-repeat;
    left:0px;
    margin-left:15px;
    cursor:pointer;
}
.top_right span:nth-child(3){
    width:27px;
    height:27px;
    display:inline-block;
    background:url(../images/WTP/search.png) no-repeat;
    margin-left:15px;
    cursor:pointer;
}
.content_main{
    width:1200px;
    height:auto;
    left:0px;
    right:0px;
    margin:auto;
    margin-top:25px;
    background:#fcf7f7;
    position: relative;
}
.content_main_top{
    width:380px;
    height:150px;
}
.content_main_nav{
    width:100%;
    height:150px;
    position:relative;
}
.img1{
    background:url(../images/job-notes/job1.png) no-repeat;
    background-size:100% 100%;
    float:left;
}
.img2{
    background:url(../images/job-notes/job2.png) no-repeat;
    background-size:100% 100%;
    position:absolute;
    left:0px;
    right:0px;
    margin:auto;
}
.img3{
    background:url(../images/job-notes/job3.png) no-repeat;
    background-size:100% 100%;
    float:right;
}
.img_p1{
    widows: 100%;
    height:20px;
    font-size: 12px;
    color:#fff;
    text-align: center;
    padding-top:30px;
}
.img_p2{
    width: 100%;
    height:20px;
    font-size: 16px;
    color:#fff;
    text-align: center;
    padding-top:5.5px;
}
.img_p3{
    width:80px;
    height:28px;
    font-size:12px;
    color:#fff;
    text-align: center;
    line-height: 28px;
    border-radius: 40px;
    left:0px;
    right:0px;
    margin:auto;
    margin-top:10px;
    border:1px solid #f8f8f9;
    cursor: pointer;
}
.main{
    widows:1200px;
    height:auto;
    position: relative;
    left:0px;
    right:0px;
    margin:auto;
}
.main_left{
    width:878px;
}
.share{
    height: 210px;
    width:878px;
    background: #fff;
    margin-top:20px;
}
.share_tit{
    padding-left:20px;
    padding-top:18px;
    font-size:16px;
    font-family: 宋体;
    margin-bottom:10px;
}
.share_content{
    width:838px;
    height:110px;
    padding-left:20px;
    padding-top:5px;
    margin-left:20px;
    border:1px solid #ecb445;
}
.publish_left{
    float: left;
    padding-left:20px;
    padding-top:8px;
}
.publish_left span{
    position: absolute;
    line-height: 25px;
    margin-left:5px;
}
.publish_left img{
    margin-left:60px;
}
.publish_left img:nth-child(1){
    margin-left: 0px;
}
.publish_right{
    width:102px;
    height:32px;
    line-height: 32px;
    border-radius: 5px;
    background: #ecb445;
    text-align: center;
    float: right;
    color:#fff;
    font-size: 20px;
    margin-top:5px;
}
.deliver{
    width: 878px;
    height:356px;
    margin-top:30px;
    background: #fff;
}
.head_portrait{
    width:48px;
    height:48px;
    background: url(../images/job-notes/job8.gif) no-repeat;
    margin-top:25px;
    margin-left:20px;
    float: left;
    display: inline-block;
}
.deliver_content{
    width: 770px;
    height:312px;
    float: right;
    margin-right:20px;
    margin-top:20px;
    display: inline-block;
}
.name1{
    font-size: 16px;
    color:#1a1a1a;
    float: left;
}
.time_form{
    font-size: 12px;
    color:#b2b2b2;
    margin-top:5px;
    float: left;
}
.deliver_content_right{
    width:20px;
    height:20px;
    background: url(../images/job-notes/job9.gif) no-repeat;
    float: right;
    margin-top:-15px;
    cursor: pointer;
}
.deliver_content_describe{
    width:768px;
    height:67px;
    margin-top:35px;
    font-size: 14px;
    color:#333333;
    text-indent: 28px;
    line-height: 22px;
}
.img_content{
    width:578px;
    height:115px;
    margin-top:15px;
    position: relative;
}
.img_content1{
    width:167px;
    height:115px;
    float: left;
    background: url(../images/job-notes/job4.png) no-repeat;
}
.img_content2{
    width:167px;
    height:115px;
    position: absolute;
    left:0px;
    right:0px;
    margin:auto;
    background: url(../images/job-notes/job4.png) no-repeat;
}
.img_content3{
    width:167px;
    height:115px;
    float: right;
    background: url(../images/job-notes/job4.png) no-repeat;
}
.deliver_bottom{
    width:467px;
    height:15px;
    margin-left:90px;
    margin-top:40px;
    color:#545454;
    font-size: 16px;
}
.deliver_bottom span:nth-child(1){
    float: left;
    cursor: pointer;
}
.deliver_bottom span:nth-child(2){
    float: right;
    cursor: pointer;
}
.main_right1{
    width:300px;
    height:325px;
    background: #fff;
    position: absolute;
    right:0px;
    top:170px;
}
.main_right1_tit{
    font-size: 20px;
    color:#000115;
    width:80%;
    margin-top:15px;
    margin-left:30px;
    line-height: 40px;
    border-bottom:2px dashed #dddddd;
}
.main_right1_content li{
    list-style: none;
    margin-left:30px;
    line-height: 25px;
}
.main_right1_content li .dian{
    color:#ff9000;
}
.main_right2{
    height:158px;
    width:300px;
    background: #fff;
    position: absolute;
    right:0px;
    top:520px;
}
.main_right2_tit{
    font-size: 20px;
    color:#000115;
    margin-top:15px;
    width:80%;
    margin-left:30px;
    line-height: 40px;
    border-bottom:2px dashed #dddddd;
}
.main_right2_content li{
    list-style: none;
    margin-left:30px;
}
.main_right2_content li span{
    border:1px solid #e6e6e6;
    line-height: 20px;
    padding:3px;
    display: inline-block;
    border-radius: 5px;
    margin-left:8px;
    margin-top:5px;
}
.page{
    width:230px;
    height:32px;
    margin-left:305px;
    margin-top:60px;
    margin-bottom:60px;
}
.page_up{
    width:100px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color:#808080;
    float: left;
    border:1px solid #e6e6e6;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}
.page_down{
    width:100px;

    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color:#808080;
    float: right;
    border:1px solid #e6e6e6;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
}
/*footer开始*/
.footer{
    width:100%;
    height:140px;
    background:#2c2e30;
    position:relative;
}
.footer_content{
    width:870px;
    height:80px;
    position:absolute;
    left:0px;
    right:0px;
    margin:auto;
    padding-top:30px;
    color:#fff;
}
.company{
    float:left;
    width:263px;
}
.renrun_logo{
    width:154px;
    height:40px;
    display:inline-block;
    background:url(../images/index/renrun_logo.png);
}
.this_logo{
    width:54px;
    height:38px;
    display:inline-block;
    background:#ff9000;
    text-align:center;
    line-height:38px;
    font-size:12.33px;
    color:#fff;
    margin-right:40px;
    float:right;
}
.friendly_link{
    float:right;
    font-size:14px;
}
.friendly_link p {
    line-height:30px;
}
.friendly_link p span{
    width:95px;
    display:inline-block;
    text-align:justify;
    cursor:pointer;
}
.friendly_link p span:hover{
    color:#ff9600;
}